noscript
    div.alert-message.error This application requires Javascript to be enabled
h1 Fretboard Visualizer
.container-fluid
    .sidebar
        form(id="fretboard", autocomplete="off")
            select(id="modes")
                option(value="ionian", selected="selected") ionian
                option(value="dorian", selected="selected") dorian
                option(value="phrygian", selected="selected") phrygian
                option(value="lydian", selected="selected") lydian
                option(value="mixolydian", selected="selected") mixolydian
                option(value="aeolian", selected="selected") aeolian
                option(value="locrian", selected="selected") locrian
            select(id="root")
                option(value="A") A
                option(value="B") B
                option(value="C") C
                option(value="D") D
                option(value="E") E
                option(value="F") F
                option(value="G") G
            h5#shortcuts Keyboard Shortcuts
            p Change key via key letter or left/right arrow keys
            p Change mode via up/down arrow keys or: 
            ul
                li (i)onian
                li do(r)ian
                li (p)hrygian
                li (l)ydian
                li (m)ixolydian
                li (a)eolian
                li locria(n)

    .content
        h2
            span#contextMode
            \:&nbsp;
        h2
            span#contextRoot

        canvas(id="myCanvas", width="2000")
        canvas(id="vexflowCanvas", width="2000")

        script(src="js/fb-libs-compiled.js")
        script(src="js/fb/fb.js")
        script(src="js/fb/model.js")
        script(src="js/fb/modules/fretboard.js")
        script(src="js/fb/modules/staff.js")
