noscript
    div.alert-message.error This application requires Javascript to be enabled

h1= title
.container-fluid
    ul.tabs
        li.active
           a(href="#") Modes 
        li
           a(href="#") Intervals 
        li
           a(href="#") Notes 
    .sidebar
        form(id="fretboard", autocomplete="off")
            select(id="modes")
            select(id="root")
            h5#shortcuts Keyboard Shortcuts
            p Change key via key letter or left/right arrow keys
            p Change mode via up/down arrow keys or: 
            ul
                li (i)onian
                li do(r)ian
                li (p)hrygian
                li (l)ydian
                li (m)ixolydian
                li ae(o)lian
                li locria(n)

    .content
        h2
            span#contextMode
            \:&nbsp;
        h2
            span#contextRoot
        h3
            span#contextChordFits

        canvas(id="myCanvas", width="2000")
        //TODO
        //canvas(id="vexflowCanvas", width="2000")

        script(src="js/fb-libs-compiled.js")
        script(src="js/fb/fb.js")
        script(src="js/fb/model.js")
        script(src="js/fb/modules/fretboard.js")
        script(src="js/fb/modules/staff.js")

        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-605177-3']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
