!!!5
html
  head
    title= title
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/libs/modernizer.js")
    script(src="js/fb-libs-compiled.js")
  body!= body
  footer
