.shadow {
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.capitalize {
    text-transform:capitalize;
}

body {

    padding: 10px 20px;

    h1 {
        margin: 0;
    }

    canvas {
        margin-bottom: 20px;
    }

    div.container-fluid{

        div.content {
            margin-left: 180px;
            a {
                color: #000;
                font-weight: bold;
            }
        }

        div.sidebar {

            margin-top: 10px;
            width: 150px;

            #shortcuts { 
                margin-top: 15px;
            }

            p, li {
                font-size: 11px;
                margin-bottom: 6px;
            }

            select {
                margin-bottom: 5px;
                width: 150px;
            }
        }
    }
    h2 {
        display: inline-block;
    }
    a {
      color: #00B7FF;
    }
}

