.shadow {
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.capitalize {
    text-transform:capitalize;
}

body {

    .sidebar, .content {
        display: none;
    }

    &.mode {
        .mode {
            display: block;
        }
    }

    &.chord {
        .sidebar.chord, .content.chord {
            display: block;
        }

        .content.chord {
            .chord { float: left; padding-top: 8px;}
            .chordname {
              width: 80%;
              margin: auto;
              font-family: "Marvel", cursive;
              font-size: 20px;
              text-align: center;
            }
        }
    }

    padding: 10px 20px;

    h1 {
        margin: 0;
    }

    div.container-fluid{

        div.content {
            margin-left: 180px;
            a {
                color: #000;
                font-weight: bold;
            }
            #context {
                border-bottom: 1px solid #ccc;
                margin-bottom: 20px;
                width: 1100px;
            }
            h2 {
                display: inline-block;
            }
            h3 {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                display: inline-block;
                width: 1100px;
            }

            #chordsComing {
                color: #cccccc;
                font-size: 12px;
                font-style: italic;
                font-weight: normal;
                margin-left: 10px;
            }
            #chords {
                .chord {
                    display: inline-block;
                }
            }
        }

        div.sidebar {

            margin-top: 10px;
            width: 150px;

            #shortcuts { 
                margin-top: 15px;
            }

            p, li {
                font-size: 11px;
                margin-bottom: 6px;
            }

            select {
                margin-bottom: 5px;
                width: 150px;
            }
        }
    }
    a {
      color: #00B7FF;
    }
}

